<div class="banner__wrapper">
  <div class="banner__img-wrapper">
    <img src="{{ section.settings.banner_image |  img_url: 'medium'}}" class="banner__img">
  </div>

</div>




{%  schema  %} 
{
  "name": "bundle-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "Bundle Banner"
    }
  ]
}

{% endschema %} 