<div class="banner__wrapper">
  <div class="banner__img-wrapper">

  </div>

</div>




{%  schema  %} 
{
  "name": "bundle-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Background Image"
    }
  ]
}

{% endschema %} 