{{ 'image-banner-new.css' |  asset_url |  stylesheet_tag }}


<div class="banner__wrapper">
  <div class="banner__img-wrapper">
    <img src="{{ section.settings.banner_image |  img_url: 'medium'}}" class="banner__img">
    {{ section.settings.image | image_url: width: section.settings.image.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: "banner-img__desktop" }}
  </div>

</div>




{%  schema  %} 
{
  "name": "Bundle Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "Bundle Banner"
    }
  ]
}

{% endschema %} 