{{ 'section-review-auto.css' | asset_url | sty }}

<div class="review-auto__wrapper"> 
  <div class="review-auto__header">
    <h1 class="review-auto__title"></h1>
    <p class="review-auto__description"></p>
  </div>
</div>


{%  schema  %} 
  {
    "name": "Review Autoplay",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Header",
        "default": "Header"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Paragraph",
        "default": "Lorem ipsum dolor sit amet"
      }
    ],
    "presets": [
      {
        "name": "Review Autoplay"
      }
    ]
  }
{% endschema %} 