{{ 'section-review-auto.css' | asset_url | stylesheet_tag }}

<div class="review-auto__wrapper"> 
  <div class="review-auto__header">
    <h1 class="review-auto__title poppins-black">{{ section.settings.title }}</h1>
    <p class="review-auto__description poppins-regular">{{ section.settings.description }}</p>
  </div>
  <div class="swiper mySwiper mySwiper-{{ section.id }}">
    <div class="swiper-wrapper">
      <div class="r">

      </div>
    </div>

  </div>

</div>


{%  schema  %} 
  {
    "name": "Review Autoplay",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Header",
        "default": "Header"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Paragraph",
        "default": "Lorem ipsum dolor sit amet"
      }
    ],
    "blocks": [
      {
        "type": "review_card",
        "name": "Review Card",
        "settings": [

        ]
      }
    ],
    "presets": [
      {
        "name": "Review Autoplay"
      }
    ]
  }
{% endschema %} 