.review-auto__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-auto__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.review-auto__title {
  font-size: 2.6rem;
  text-align: center;
}

.review-auto__description {
  font-size: 1.4rem;
  text-align: center;
}