.review-manual__card {
  width: 350px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.review-manual__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 165px;
  object-fit: cover;
}

.review-manual__img {
  width: 260px;
  height: 165px;
  object-fit: cover;
}

.review-manual__info {
  display: flex;
  justify-content: baseline;
  align-items: space-around;
  flex-direction: column;
  width: 260px;
  height: 270px;
}

.review-manual__star-wrapper svg {
  width: 22px;
  height: 22px;
}

.review-manual__description {
  font-size: 1.4rem;
  text-align: start;
}

.review-manual__name {
  font-size: 1.7rem;
  color: black;
}

.review-manual__verified-badge {
  font-size: 1rem;
  color: #414141;
  display: flex;
  align-items: center;
}

.review-manual__verified-badge svg {
  width: 10px;
  height: 10px;
}

.review-manual__verified-badge svg path {
  fill: #414141;
}
